name: CD (Deploy to EC2)

on:
    workflow_dispatch:

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Deploy to EC2
                uses: appleboy/ssh-action@v0.1.6
                with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_KEY }}
                script: |
                    cd /home/ec2-user/php-board
                    docker-compose down
                    docker-compose up -d --build
